*{
	margin: 0;
	padding: 0;
}
img{
	border:none;
}
body{
	font-size: 12px;
}
ol,ul,li{
	list-style: none;
}
input,select,textarea{
	outline: none;
}
textarea{
	resize: none;
}
a{
	text-decoration: none;
}
/*清浮动*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}